/* screen - process-in-workshops6 */

.process-in-workshops6 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1577px;
  padding: 80.8px 0;
  width: 2184px;
}

.process-in-workshops6 .overlap-group {
  height: 137px;
  margin-top: 81px;
  position: relative;
  width: 1398px;
}

.process-in-workshops6 .rectangle-41 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 1398px;
}

.process-in-workshops6 .rectangle-42 {
  height: 134px;
  left: 962px;
  position: absolute;
  top: 3px;
  width: 435px;
}

.process-in-workshops6 .rectangle-43 {
  height: 130px;
  left: 618px;
  position: absolute;
  top: 3px;
  width: 407px;
}

.process-in-workshops6 .rectangle-11 {
  height: 132px;
  left: 277px;
  position: absolute;
  top: 0;
  width: 408px;
}

.process-in-workshops6 .step-1 {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 230px;
}

.process-in-workshops6 .step2-c {
  left: 370px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 39px;
  width: 222px;
}

.process-in-workshops6 .step-3 {
  left: 774px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 174px;
}

.process-in-workshops6 .step-4 {
  left: 1129px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 181px;
}

.process-in-workshops6 .you-can-write-or-dra {
  letter-spacing: 0;
  margin-right: 71.0px;
  margin-top: 133px;
  min-height: 176px;
  text-align: center;
  width: 1219px;
}

.process-in-workshops6 .overlap-group3 {
  height: 129px;
  margin-right: 41.6px;
  position: relative;
  width: 452px;
}

.process-in-workshops6 .rectangle-47 {
  height: 127px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 452px;
}

.process-in-workshops6 .upload-picture {
  left: 78px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 300px;
}

.process-in-workshops6 .line-30 {
  height: 1px;
  margin-right: 2.0px;
  margin-top: 52px;
  width: 1288px;
}

.process-in-workshops6 .line-31 {
  height: 1px;
  margin-right: 14.0px;
  margin-top: 145px;
  width: 1288px;
}

.process-in-workshops6 .line-32 {
  height: 1px;
  margin-left: 1.0px;
  margin-top: 144px;
  width: 1303px;
}

.process-in-workshops6 .overlap-group2 {
  height: 26px;
  margin-left: 1.0px;
  margin-top: 133px;
  position: relative;
  width: 1303px;
}

.process-in-workshops6 .rectangle-45 {
  height: 26px;
  left: 629px;
  position: absolute;
  top: 0;
  width: 3px;
}

.process-in-workshops6 .line-33 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 1303px;
}

.process-in-workshops6 .overlap-group1 {
  background-image: url(../img/rectangle-46@2x.svg);
  background-size: 100% 100%;
  height: 111px;
  margin-right: 0.62px;
  margin-top: 146px;
  position: relative;
  width: 409px;
}

.process-in-workshops6 .arrow-3 {
  height: 22px;
  left: 148px;
  position: absolute;
  top: 33px;
  width: 120px;
}

.process-in-workshops6 .next {
  left: 95px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 220px;
}
