/* screen - process-in-workshops */

.process-in-workshops {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1577px;
  overflow: hidden;
  width: 2184px;
}

.process-in-workshops .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 393px;
  margin-top: 161.79px;
  min-height: 1334px;
  width: 1398px;
}

.process-in-workshops .overlap-group3 {
  height: 137px;
  position: relative;
  width: 1398px;
}

.process-in-workshops .rectangle-41 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 1398px;
}

.process-in-workshops .rectangle-42 {
  height: 134px;
  left: 962px;
  position: absolute;
  top: 3px;
  width: 435px;
}

.process-in-workshops .rectangle-43 {
  height: 130px;
  left: 618px;
  position: absolute;
  top: 3px;
  width: 407px;
}

.process-in-workshops .rectangle-11 {
  height: 132px;
  left: 277px;
  position: absolute;
  top: 0;
  width: 408px;
}

.process-in-workshops .step-1-c {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 230px;
}

.process-in-workshops .step2 {
  left: 370px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 39px;
  width: 222px;
}

.process-in-workshops .step-3 {
  left: 774px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 174px;
}

.process-in-workshops .step-4 {
  left: 1129px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 181px;
}

.process-in-workshops .x2-john-works-as-a-re {
  letter-spacing: 0;
  margin-top: 79px;
  min-height: 178px;
  text-align: center;
  width: 1350px;
}

.process-in-workshops .is-john-an-entrepreneur {
  letter-spacing: 0;
  margin-right: 53.0px;
  margin-top: 53px;
  min-height: 64px;
  text-align: center;
  width: 913px;
}

.process-in-workshops .line-30 {
  height: 1px;
  margin-right: 2.0px;
  margin-top: 116px;
  width: 1288px;
}

.process-in-workshops .line-31 {
  height: 1px;
  margin-right: 14.0px;
  margin-top: 145px;
  width: 1288px;
}

.process-in-workshops .line-32 {
  height: 1px;
  margin-left: 1.0px;
  margin-top: 144px;
  width: 1303px;
}

.process-in-workshops .overlap-group2 {
  height: 26px;
  margin-left: 1.0px;
  margin-top: 133px;
  position: relative;
  width: 1303px;
}

.process-in-workshops .rectangle-45 {
  height: 26px;
  left: 629px;
  position: absolute;
  top: 0;
  width: 3px;
}

.process-in-workshops .line-33 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 1303px;
}

.process-in-workshops .overlap-group4 {
  background-image: url(../img/rectangle-46@2x.svg);
  background-size: 100% 100%;
  height: 111px;
  margin-right: 0.62px;
  margin-top: 146px;
  position: relative;
  width: 409px;
}

.process-in-workshops .arrow-3 {
  height: 22px;
  left: 148px;
  position: absolute;
  top: 33px;
  width: 120px;
}

.process-in-workshops .next {
  left: 95px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 220px;
}

.process-in-workshops .process-in-workshops-1 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1795px;
  margin-left: 700px;
  margin-top: 11.59px;
  overflow: hidden;
  transform: rotate(0.62deg);
  width: 2143px;
}

.process-in-workshops .overlap-group1 {
  height: 157px;
  margin-right: -5022.9px;
  margin-top: -2878px;
  position: relative;
  width: 1399px;
}

.process-in-workshops .rectangle-41-1 {
  height: 125px;
  left: 1px;
  position: absolute;
  top: 24px;
  transform: rotate(-0.62deg);
  width: 1398px;
}

.process-in-workshops .rectangle-42-1 {
  height: 134px;
  left: 963px;
  position: absolute;
  top: 2px;
  transform: rotate(-0.62deg);
  width: 435px;
}

.process-in-workshops .rectangle-43-1 {
  height: 130px;
  left: 619px;
  position: absolute;
  top: 10px;
  transform: rotate(-0.62deg);
  width: 408px;
}

.process-in-workshops .rectangle-11-1 {
  height: 129px;
  left: 279px;
  position: absolute;
  top: 19px;
  transform: rotate(-0.62deg);
  width: 408px;
}

.process-in-workshops .line-27 {
  height: 1px;
  margin-right: -5026.75px;
  margin-top: 657px;
  transform: rotate(-0.62deg);
  width: 1416px;
}

.process-in-workshops .line-28 {
  height: 1px;
  margin-right: -5030.14px;
  margin-top: 154px;
  transform: rotate(-0.62deg);
  width: 1416px;
}

.process-in-workshops .line-29 {
  height: 1px;
  margin-right: -5033.81px;
  margin-top: 167px;
  transform: rotate(-0.62deg);
  width: 1416px;
}

.process-in-workshops .line-30-1 {
  height: 1px;
  margin-right: -5037.35px;
  margin-top: 162px;
  transform: rotate(-0.62deg);
  width: 1416px;
}

.process-in-workshops .overlap-group {
  height: 122px;
  margin-right: -4543.99px;
  margin-top: 113px;
  position: relative;
  width: 388px;
}

.process-in-workshops .rectangle-45-1 {
  height: 118px;
  left: 1px;
  position: absolute;
  top: 2px;
  transform: rotate(-0.62deg);
  width: 387px;
}

.process-in-workshops .arrow-4 {
  height: 1px;
  left: 149px;
  position: absolute;
  top: 32px;
  transform: rotate(-0.62deg);
  width: 114px;
}

.process-in-workshops .step-container {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 61px;
  margin-right: 48.52px;
  margin-top: 1553px;
  min-width: 1256px;
}

.process-in-workshops .step-1-d {
  letter-spacing: 0;
  margin-bottom: 3.4px;
  min-height: 46px;
  text-align: center;
  transform: rotate(-0.62deg);
  width: 192px;
}

.process-in-workshops .step2-1 {
  letter-spacing: 0;
  margin-left: 124px;
  min-height: 52px;
  text-align: center;
  transform: rotate(-0.62deg);
  width: 222px;
}

.process-in-workshops .step-3-1 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 0.23px;
  margin-left: 182px;
  min-height: 49px;
  text-align: center;
  transform: rotate(-0.62deg);
  width: 174px;
}

.process-in-workshops .step-4-1 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 181px;
  min-height: 45px;
  text-align: center;
  transform: rotate(-0.62deg);
  width: 181px;
}

.process-in-workshops .read-business-and-identify-the-problem {
  align-self: center;
  letter-spacing: 0;
  margin-right: 105.83px;
  margin-top: 108px;
  min-height: 59px;
  text-align: center;
  transform: rotate(-0.62deg);
  width: 903px;
}

.process-in-workshops .canned-bread-is-an-i {
  align-self: center;
  letter-spacing: 0;
  margin-right: 98.43px;
  margin-top: 69px;
  min-height: 115px;
  text-align: center;
  transform: rotate(-0.62deg);
  width: 1285px;
}

.process-in-workshops .what-problems-can-ca {
  align-self: center;
  letter-spacing: 0;
  margin-right: 94.26px;
  margin-top: 88px;
  min-height: 93px;
  text-align: center;
  transform: rotate(-0.62deg);
  width: 1367px;
}

.process-in-workshops .next-1 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 15.92px;
  margin-top: 824px;
  min-height: 22px;
  text-align: center;
  transform: rotate(-0.62deg);
  width: 396px;
}
