/* screen - process-in-workshops7 */

.process-in-workshops7 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1577px;
  padding: 80.8px 0;
  width: 2184px;
}

.process-in-workshops7 .overlap-group1 {
  height: 137px;
  margin-top: 81px;
  position: relative;
  width: 1398px;
}

.process-in-workshops7 .rectangle-41 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 1398px;
}

.process-in-workshops7 .rectangle-42 {
  height: 134px;
  left: 962px;
  position: absolute;
  top: 3px;
  width: 435px;
}

.process-in-workshops7 .rectangle-43 {
  height: 130px;
  left: 618px;
  position: absolute;
  top: 3px;
  width: 407px;
}

.process-in-workshops7 .rectangle-11 {
  height: 132px;
  left: 277px;
  position: absolute;
  top: 0;
  width: 408px;
}

.process-in-workshops7 .step-1 {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 230px;
}

.process-in-workshops7 .step2 {
  left: 370px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 39px;
  width: 222px;
}

.process-in-workshops7 .step-3a {
  left: 701px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 247px;
}

.process-in-workshops7 .step-4 {
  left: 1129px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 181px;
}

.process-in-workshops7 .place {
  letter-spacing: 0;
  margin-right: 76.0px;
  margin-top: 106px;
  min-height: 67px;
  text-align: center;
  width: 484px;
}

.process-in-workshops7 .image-51 {
  height: 677px;
  margin-top: 49px;
  object-fit: cover;
  width: 1398px;
}

.process-in-workshops7 .rectangle-45 {
  height: 26px;
  margin-right: 40.32px;
  margin-top: 16px;
  width: 3px;
}

.process-in-workshops7 .overlap-group {
  background-image: url(../img/rectangle-46@2x.svg);
  background-size: 100% 100%;
  height: 111px;
  margin-right: 0.62px;
  margin-top: 146px;
  position: relative;
  width: 409px;
}

.process-in-workshops7 .arrow-3 {
  height: 22px;
  left: 148px;
  position: absolute;
  top: 33px;
  width: 120px;
}

.process-in-workshops7 .next {
  left: 95px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 220px;
}
