/* screen - process-in-workshops17 */

.process-in-workshops17 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1577px;
  padding: 80.8px 0;
  width: 2184px;
}

.process-in-workshops17 .overlap-group {
  height: 137px;
  margin-top: 81px;
  position: relative;
  width: 1398px;
}

.process-in-workshops17 .rectangle-41 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 1398px;
}

.process-in-workshops17 .rectangle-42 {
  height: 134px;
  left: 962px;
  position: absolute;
  top: 3px;
  width: 435px;
}

.process-in-workshops17 .rectangle-43 {
  height: 130px;
  left: 618px;
  position: absolute;
  top: 3px;
  width: 407px;
}

.process-in-workshops17 .rectangle-11 {
  height: 132px;
  left: 277px;
  position: absolute;
  top: 0;
  width: 408px;
}

.process-in-workshops17 .step-1 {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 230px;
}

.process-in-workshops17 .step2 {
  left: 370px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 39px;
  width: 222px;
}

.process-in-workshops17 .step-3 {
  left: 701px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 260px;
}

.process-in-workshops17 .step-4g {
  left: 1027px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 283px;
}

.process-in-workshops17 .mvp-minimum-viable-product {
  letter-spacing: 0;
  margin-right: 76.0px;
  margin-top: 121px;
  min-height: 57px;
  min-width: 676px;
  text-align: center;
}

.process-in-workshops17 .image-54 {
  height: 621px;
  margin-left: 24.0px;
  margin-top: 100px;
  object-fit: cover;
  width: 1374px;
}

.process-in-workshops17 .rectangle-45 {
  height: 26px;
  margin-right: 40.32px;
  margin-top: 16px;
  width: 3px;
}

.process-in-workshops17 .overlap-group1 {
  background-image: url(../img/rectangle-46-2@2x.svg);
  background-size: 100% 100%;
  height: 111px;
  margin-right: 0.62px;
  margin-top: 146px;
  position: relative;
  width: 409px;
}

.process-in-workshops17 .arrow-3 {
  height: 22px;
  left: 148px;
  position: absolute;
  top: 33px;
  width: 120px;
}

.process-in-workshops17 .next {
  left: 95px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 220px;
}
